*.class
*.log

.g8/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/sbt-dist
/scripts

bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache


# Scala-IDE specific
.idea/
rest.iml
.DS_Store